html * {
    font-family: 'Myriad Pro'
    font-stretch: condensed !important; 
}
body {
    background-color: #fff;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Myriad Pro';
    font-stretch: condensed;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li {
    display: inline;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}


h3 {
    font-size: 1.5em;
}
p {
 
    font-size: 1.3em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/*home screen img */

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadedown;
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes fadedown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 

 /* PDF icon */

 a.pdf{
    background-image: url('pdf.png');
    background-position: center left;
    background-repeat: no-repeat;
    height: 85px;
    width: 75px;
    display: inline-block;
    padding-top: 20px;
}


/*Style all font awesome icons*/ 
a.fa {
  padding: 7px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  float: right;
}

a.fa:hover {
    opacity: 0.05;
}

a.fa-linkedin {
    background: #007bb5;
    color: white;
}

a.fa-behance {
    background: #053eff;
    color: white;
}

a.fa-github {
    background: #171515;
    color: white;
}

a.fa-tumblr {
    background: #34526f;
    color: white;
}

a.fa-envelope {
    background: #000;
    color: white;
}

