<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">BLOG</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    			<li><a href="https://www.linkedin.com/in/aditya-dandekar-095b50136/" target="_blank" class="fa fa-linkedin"></a></li>
	    			<li><a href="https://www.behance.net/aksylumoed" target="_blank" class="fa fa-behance"></a></li>
					<a href="https://www.github.com/aksylumoed" target="_blank" class="fa fa-github"></a></li>
					<li><a href="mailto:aditya2697@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
					<li><a href="https://aksylumoed.tumblr.com"  target="_blank" class="fa fa-tumblr"></a></li> 				    		
				</ul>
			</footer>
		</body>
	</html>
